include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev&attributes(attributes)
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next&attributes(attributes)
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1"  inputmode='numeric')
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти" inputmode='search')
			button 
				+icon("search")

mixin page-head(t, isBg=true, img, ...items)
	+b.page-head&attributes(attributes)
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)
			if isBg
				+e.img-wrap.bg-wrap
					+img(`img/${img}`, 'bg').picture-bg
					h1!= t
			else if t
				h1!= t

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin contactUs()
	+b.contact-us&attributes(attributes)
		+soc
			+item-sos('', 'tel:+74955107785').--tel
				+icon('call')
				span +7 (495) 510-77-85
			+item-sos()
				+iconC('whatsapp')
			+item-sos()
				+iconC('viber')
			+item-sos()
				+iconC('telegram')

mixin categoryDropdown()
	+b.category-dropdown
		mixin item(icon, title, list=[])
			+e.item&attributes(attributes)
				+e.row.row
					.col-lg-auto 
						+e.category
							+iconC(icon)
							!= title
					+e.content-col.col-lg
						+e.content 
							+e.title!= title
							ul
								each item in list
									li: a(href="#")!= item
		.container
			+e.back.d-lg-none
				+icon('chevron-left')
				| Назад
			+item('category-icon-1', 'Заборы', ['Заборы из профнастила', 'Заборы из евроштакетника', 'Заборы из сетки рабицы', 'Заборы из 3Д сетки', 'Заборы жалюзи', 'Секционные заборы', 'Заборы для дачи', 'Заборы для коттеджа', 'Заборы для частного дома']).active
			+item('category-icon-2', 'Столбы', ['Заборы из профнастила', 'Заборы из евроштакетника', 'Заборы из сетки рабицы'])
			+item('category-icon-3', 'Ворота', ['Заборы из профнастила', 'Заборы из евроштакетника', 'Заборы из сетки рабицы'])
			+item('category-icon-4', 'Навесы', ['Заборы из профнастила', 'Заборы из евроштакетника', 'Заборы из сетки рабицы'])

mixin downloadRequisites(t='Скачать реквизиты')
	a.requisites(href='#')
		+icon('attach')
		!= t
		| #[span &nbsp;PDF]

mixin categoryItem(img, title, price, date, btn)
	+b.categoryItem&attributes(attributes)
		+e.img-wrap(href='#')
			+img(`img/${img}`, 'bg')
		+e.link
			a.h6(href='#')!= title
			p!= price
			if date && btn
				+e.row
					.row
						.col-auto
							+e.btn.btn.btn-outline-primary(href='#') Подробнее
						.col-auto
							+e.date!= date

mixin customTable(head, head2, head3)
	+b.custom-table-wrap&attributes(attributes)
		//- +e.table-head!= head
		mixin tr(key, val, ...items)
			tr
				if key && val
					td!= key
					td!= val
				else
					each item in items
						td!= item
		table
			thead
				tr
					if head
						th.custom-table-wrap__table-head(colspan=2)!= head
					else if head2
						th Высота погонного метра
						th Толщина листа 0.35/0.4/0.5 мм
					else if head3
						th Высота погонного метра
						th Толщина листа 0.35/0.4/0.5 мм
						th Толщина листа 0.35/0.4/0.5 мм
			block


mixin btnSpinner()
	+b.SPAN.btnSpinner()
		span.plus-js
			+icon('chevron-up')
		span.minus-js
			+icon('chevron-down')

mixin inputNumber(label, placeholder)
	.form-wrap__input-wrap.form-group.spinner.spinner--js
		if label
			span.form-wrap__input-title!= label
		label
			input.form-wrap__input.form-control(name='number' type='number' min="0" placeholder=`${placeholder}` step='any')
			+btnSpinner()

mixin choiceOption(title, name)
	// start choiceOption
	+b.choiceOption
		label
			+e.INPUT.input.form-check-input(name=`${name}` type='radio')&attributes(attributes)
			+e.SPAN.btn
				+iconC('sCalculator-1')
				span.h6!= title 

mixin navBlock()
	+b.nav-block
		+e.content.sticky-js 
			block